.body {
    display: flex;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 50vw;
    border: 2px solid black;
}

.row {
    display: flex;
    flex: 1 0 auto;
}

.pixel {
    flex: 1 0 auto;
    aspect-ratio: 1/1;
    border: 2px solid green;
}
    